@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.header-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #1A3129;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.header-wrapper .header-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 10.125rem;
  width: 100%;
}
.header-wrapper .header-container .announcement-content-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #234338;
  border: 0.0625rem solid #2C5446;
  border-radius: 0.375rem;
  padding: 0.625rem;
  margin: 0.875rem 0;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.header-wrapper .header-container .announcement-content-text:hover .bi-arrow-right {
  transform: translateX(0.1875rem);
}
.header-wrapper .header-container .announcement-content-text p {
  margin-left: 0.375rem;
  margin-right: 1.25rem;
  font-size: 1rem;
  font-weight: 500;
}
.header-wrapper .header-container .announcement-content-text .bi-arrow-right {
  font-size: 1.25rem;
  transition: transform 0.3s ease;
}
.header-wrapper .header-container .logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
  border-top: 0.0625rem solid #234338;
}
.header-wrapper .header-container .logo-nav .nav-button-wrapper {
  display: flex;
  gap: 2.5rem;
}
.header-wrapper .header-container .logo-nav .nav-button-wrapper nav {
  display: flex;
  align-items: center;
}
.header-wrapper .header-container .logo-nav .nav-button-wrapper nav ul {
  display: flex;
  gap: 1.625rem;
}
.header-wrapper .header-container .logo-nav .nav-button-wrapper nav ul li {
  list-style-type: none;
}
.header-wrapper .header-container .logo-nav .nav-button-wrapper nav ul li a {
  text-decoration: none;
  color: #FAFDF2;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
}
.header-wrapper .header-container .logo-nav .nav-button-wrapper nav ul li a:hover {
  color: #CBEA7B;
}
.header-wrapper .header-container .logo-nav .nav-button-wrapper .btn-contactus {
  border: none;
  border-radius: 0.5rem;
  padding: 0.875rem 1.5rem;
  background-color: #CBEA7B;
  font-size: 1.125rem;
  font-weight: 600;
  color: #262626;
  line-height: 150%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.header-wrapper .header-container .logo-nav .nav-button-wrapper .btn-contactus:hover {
  background-color: #DCF1A7;
}
.header-wrapper .header-container .logo-nav .hamburger {
  position: relative;
  display: block;
  width: 2.1875rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
}
.header-wrapper .header-container .logo-nav .hamburger .bar, .header-wrapper .header-container .logo-nav .hamburger:after, .header-wrapper .header-container .logo-nav .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.3125rem;
  background-color: #fff;
  margin: 0.375rem 0;
  transition: 0.4s;
  left: 0;
}
.header-wrapper .header-container .logo-nav .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-0.5rem, 0.375rem);
}
.header-wrapper .header-container .logo-nav .hamburger.is-active:after {
  transform: rotate(45deg) translate(-0.5625rem, -0.5rem);
}
.header-wrapper .header-container .logo-nav .hamburger.is-active .bar {
  opacity: 0;
}
.header-wrapper .header-container .logo-nav .mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 20;
  background-color: #1A3129;
  transition: 1s;
  padding: 9.375rem 1.25rem 0 1.25rem;
  white-space: nowrap;
}
.header-wrapper .header-container .logo-nav .mobile-nav.is-active {
  right: 0;
}
.header-wrapper .header-container .logo-nav .mobile-nav a {
  display: block;
  width: 100%;
  max-width: 12.5rem;
  text-align: center;
  margin: 0 auto 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #FAFDF2;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
}
.header-wrapper .header-container .logo-nav .mobile-nav a:hover {
  color: #CBEA7B;
}

.intro-section {
  display: flex;
  gap: 3.125rem;
  padding-top: 10.5625rem;
}
.intro-section .hero-image {
  width: 50%;
}
.intro-section .hero-image img {
  width: 100%;
  border-bottom-right-radius: 3.125rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro-section .content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-right: 10.125rem;
}
.intro-section .content-section .intro-lead {
  color: #1A3129;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.875rem;
  position: relative;
}
.intro-section .content-section .intro-lead::after {
  content: "";
  position: absolute;
  bottom: -0.625rem;
  height: 0.1875rem;
  background-color: #CBEA7B;
  width: 25.8125rem;
  max-width: 100%;
  left: 0;
}
.intro-section .content-section h1 {
  font-size: 3.625rem;
  color: #1A3129;
  font-weight: 700;
  margin-bottom: 1.25rem;
  max-width: 37.5rem;
}
@media (max-width: 767px) {
  .intro-section .content-section h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .intro-section .content-section h1 {
    font-size: 3.125rem;
  }
}
.intro-section .content-section .intro-description {
  font-size: 1.125rem;
  font-weight: 500;
  color: #333333;
  line-height: 150%;
  margin-bottom: 3.125rem;
  max-width: 47.4375rem;
}
.intro-section .content-section .cta-btns {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 4.375rem;
}
.intro-section .content-section .cta-btns a {
  text-decoration: none;
}
.intro-section .content-section .cta-btns .cta-btn {
  font-size: 1.125rem;
  font-weight: 600;
  color: #262626;
  border: 0.0625rem solid #E5F5BD;
  border-radius: 0.5rem;
  background-color: #F6FBE9;
  padding: 1rem 1.5rem;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}
.intro-section .content-section .cta-btns .cta-btn:hover {
  background-color: #EEF8D3;
}
.intro-section .content-section .cta-btns .cta-btn--dark {
  padding: 1rem 1.25rem;
  border: none;
  background-color: #CBEA7B;
}
.intro-section .content-section .cta-btns .cta-btn--dark:hover {
  background-color: #DCF1A7;
}
.intro-section .content-section .testimonial {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.25rem;
  color: #234338;
  font-weight: 600;
  line-height: 150%;
}
.intro-section .content-section .testimonial .span-text-testimonial {
  color: #468671;
  font-weight: 700;
}

.header-information-about {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  padding: 0 10.125rem;
  max-width: 120rem;
  margin: 16.6875rem auto 9.375rem auto;
}
.header-information-about .about-intro-content {
  padding: 6.25rem;
  background-color: #F6FBE9;
  border: 0.0625rem solid #E5F5BD;
  border-radius: 0.75rem;
  text-align: center;
}
.header-information-about .about-intro-content h1 {
  font-size: 3.625rem;
  color: #1A3129;
  font-weight: 700;
  margin-bottom: 3.125rem;
}
@media (max-width: 767px) {
  .header-information-about .about-intro-content h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header-information-about .about-intro-content h1 {
    font-size: 3.125rem;
  }
}
.header-information-about .about-intro-content p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
}

.header-information {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 10.125rem;
}
.header-information .header-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
  padding: 6.25rem;
  background-color: #F6FBE9;
  border: 0.0625rem solid #E5F5BD;
  margin-top: 16.6875rem;
  position: relative;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.header-information .header-info-container .header-abstract-design {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: 46.8125rem;
  height: auto;
  z-index: 1;
}
.header-information .header-info-container .header-icon {
  width: 5.625rem;
  height: 5.625rem;
  z-index: 2;
}
.header-information .header-info-container .header-intro-content {
  z-index: 2;
}
.header-information .header-info-container .header-intro-content h1 {
  font-size: 3.125rem;
  color: #1A3129;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
@media (max-width: 767px) {
  .header-information .header-info-container .header-intro-content h1 {
    font-size: 2.125rem;
  }
}
.header-information .header-info-container .header-intro-content p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
}
.header-information .header-info-container-radius {
  border-radius: 0.75rem;
}

@media screen and (max-width: 767px) {
  .section-header .header-wrapper .header-container {
    padding: 0 1rem;
  }
  .section-header .header-wrapper .header-container .logo-nav .mobile-nav {
    width: 100%;
  }
  .section-header .intro-section .content-section {
    padding: 0 1rem;
  }
  .section-header .intro-section .content-section .cta-btns {
    flex-direction: column;
    width: 100%;
  }
  .section-header .intro-section .content-section .testimonial {
    flex-direction: column;
  }
  .header-information-about {
    padding: 0 1rem;
    gap: 3.125rem;
    margin: 12.375rem auto 2.1875rem auto;
  }
  .header-information-about .about-intro-content {
    padding: 1.875rem;
  }
  .header-information-about .about-intro-content h1 {
    margin-bottom: 1.25rem;
  }
  .header-information {
    padding: 0 1rem;
  }
  .header-information .header-info-container {
    padding: 1.875rem;
    margin-top: 13.625rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section-header .header-wrapper .header-container {
    padding: 0 2rem;
  }
  .section-header .intro-section {
    padding-top: 10rem;
  }
  .section-header .intro-section .content-section {
    padding: 0 2rem;
  }
  .header-information-about {
    padding: 0 2rem;
  }
  .header-information-about .about-intro-content {
    padding: 5rem;
  }
  .header-information {
    padding: 0 2rem;
  }
  .header-information .header-info-container {
    padding: 5rem;
  }
}
@media screen and (max-width: 1023px) {
  .intro-section {
    flex-direction: column;
  }
  .intro-section .hero-image {
    width: 100%;
  }
  .intro-section .hero-image img {
    border-bottom-left-radius: 3.125rem;
  }
  .intro-section .content-section {
    width: 100%;
    padding-right: 0;
    align-items: center;
    text-align: center;
  }
  .intro-section .content-section .intro-lead {
    font-size: 1.375rem;
  }
  .intro-section .content-section .intro-lead::after {
    display: none;
  }
  .intro-section .content-section h1 {
    max-width: unset;
  }
  .intro-section .content-section .cta-btns {
    margin-bottom: 3.125rem;
  }
}
@media screen and (max-width: 1279px) {
  .section-header .header-wrapper .header-container .logo-nav .nav-button-wrapper {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .section-header .header-wrapper .header-container .logo-nav .hamburger {
    display: none;
  }
  .section-header .header-wrapper .header-container .logo-nav .mobile-nav {
    display: none;
  }
}
.section-footer {
  padding: 3.125rem 0;
  background-color: #1A3129;
}
.section-footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 10.125rem;
}
.section-footer .footer-wrapper .footer-nav ul {
  display: flex;
  gap: 1.625rem;
}
.section-footer .footer-wrapper .footer-nav ul li {
  list-style-type: none;
}
.section-footer .footer-wrapper .footer-nav ul li a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
}
.section-footer .footer-wrapper .footer-nav ul li a:hover {
  color: #CBEA7B;
}
.section-footer .footer-wrapper .scroll-to-top {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.section-footer .footer-wrapper .scroll-to-top:hover .bi-arrow-up {
  transform: translateY(-0.5rem);
}
.section-footer .footer-wrapper .scroll-to-top .icon-arrow-scroll {
  width: 3.875rem;
  height: 3.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4.5625rem;
  background-color: #234338;
}
.section-footer .footer-wrapper .scroll-to-top .icon-arrow-scroll .bi-arrow-up {
  transition: transform 0.3s ease;
}
.section-footer .footer-contact {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 10.125rem;
}
.section-footer .footer-contact .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.125rem;
  padding: 1rem 1.875rem;
  background-color: #234338;
  border: 0.0625rem solid #2C5446;
  border-radius: 0.5rem;
}
.section-footer .footer-contact .footer-container .footer-contact-info {
  display: flex;
  gap: 1.25rem;
}
.section-footer .footer-contact .footer-container .footer-contact-info .contact-item {
  border: 0.0625rem solid #2C5446;
  border-radius: 0.375rem;
  padding: 0.875rem;
}
.section-footer .footer-contact .footer-container .footer-contact-info .contact-item i {
  color: #CBEA7B;
  margin-right: 0.375rem;
}
.section-footer .footer-contact .footer-container .footer-contact-info .contact-item a {
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.section-footer .footer-contact .footer-copyright {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: #F2F2F2;
}

@media screen and (max-width: 767px) {
  .section-footer .footer-wrapper {
    padding: 0 1rem;
    flex-wrap: wrap;
  }
  .section-footer .footer-wrapper .footer-logo {
    width: 50%;
  }
  .section-footer .footer-wrapper .footer-logo img {
    max-width: 8.0625rem;
  }
  .section-footer .footer-wrapper .footer-nav {
    order: 3;
    margin-top: 1.25rem;
  }
  .section-footer .footer-wrapper .footer-nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .section-footer .footer-wrapper .scroll-to-top {
    width: 50%;
    justify-content: flex-end;
    padding-left: 0.3125rem;
  }
  .section-footer .footer-wrapper .scroll-to-top p {
    font-size: 1rem;
  }
  .section-footer .footer-contact {
    padding: 0 1rem;
  }
  .section-footer .footer-container {
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
  }
  .section-footer .footer-container .footer-contact-info {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section-footer .footer-wrapper {
    padding: 0 2rem;
    flex-wrap: wrap;
  }
  .section-footer .footer-wrapper .footer-nav {
    order: 3;
    margin-top: 1.25rem;
  }
  .section-footer .footer-wrapper .scroll-to-top {
    width: 50%;
    justify-content: flex-end;
    padding-left: 0.3125rem;
  }
  .section-footer .footer-wrapper .scroll-to-top p {
    font-size: 1rem;
  }
  .section-footer .footer-contact {
    padding: 0 2rem;
  }
  .section-footer .footer-contact .footer-container {
    flex-direction: column;
    gap: 0.625rem;
  }
  .section-footer .footer-contact .footer-container .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
}
.slide-content {
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid #EEF8D3;
  border-radius: 0.75rem;
}
.slide-content .quote-content {
  padding: 2.5rem;
}
.slide-content .quote-content .bi-quote {
  color: #346454;
  font-size: 2.5rem;
}
.slide-content .quote-content p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
  margin-top: 3.125rem;
}
.slide-content .slide-author-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1.875rem 2.5rem;
  background-color: #F6FBE9;
  border-top: 0.0625rem solid #EEF8D3;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.slide-content .slide-author-info img {
  border-radius: 0.5rem;
}
.slide-content .slide-author-info .slide-author-name {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  color: #1A3129;
}

.splide__pagination {
  bottom: -3.75rem;
}

.splide__pagination__page {
  background-color: #E5F5BD !important;
}

.splide__pagination__page.is-active {
  background: #346454 !important;
  transform: none;
}

.splide__arrow {
  top: 112.5% !important;
  background-color: #F6FBE9;
  border: 0.0625rem solid #EEF8D3;
  border-radius: 0.5rem;
  width: 3.625rem;
  height: 3.625rem;
  padding: 0.75rem;
}

.splide__arrow--next {
  right: 43%;
}

.splide__arrow--prev {
  left: 43%;
}

@media screen and (max-width: 576px) {
  .splide__pagination {
    bottom: -4.375rem;
  }
  .splide__arrow--next {
    right: 0;
  }
  .splide__arrow--prev {
    left: 0;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .splide__arrow--next {
    right: 30%;
  }
  .splide__arrow--prev {
    left: 30%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .splide__pagination {
    bottom: -4.375rem;
  }
  .splide__arrow--next {
    right: 30%;
  }
  .splide__arrow--prev {
    left: 30%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .splide__pagination {
    bottom: -4.0625rem;
  }
  .splide__arrow--next {
    right: 40%;
  }
  .splide__arrow--prev {
    left: 40%;
  }
}
.section-features {
  margin-top: 9.375rem;
}
.section-features .features-header {
  text-align: center;
  margin-bottom: 5rem;
}
.section-features .features-header h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 150%;
  color: #262626;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .section-features .features-header h2 {
    font-size: 1.75rem;
  }
}
.section-features .features-header p {
  font-size: 1.125rem;
  line-height: 150%;
  color: #333333;
  font-weight: 500;
}
.section-features .features-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}
.section-features .features-list .feature-card {
  background-color: #F6FBE9;
  border: 0.0625rem solid #E5F5BD;
  border-radius: 0.75rem;
  padding: 2.5rem 3.125rem;
}
.section-features .features-list .feature-card .feature-card-header {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  margin-bottom: 1.5rem;
}
.section-features .features-list .feature-card .feature-card-header h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
}
.section-features .features-list .feature-card p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
}

.section-our-blogs {
  margin-top: 9.375rem;
}
.section-our-blogs .blogs-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}
.section-our-blogs .blogs-header h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 150%;
  color: #262626;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .section-our-blogs .blogs-header h2 {
    font-size: 1.75rem;
  }
}
.section-our-blogs .blogs-header p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #333333;
  line-height: 150%;
  max-width: 62.25rem;
}
.section-our-blogs .blogs-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}
.section-our-blogs .blogs-list .blogs-card {
  background-color: #F6FBE9;
  border: 0.0625rem solid #EEF8D3;
  border-radius: 0.75rem;
  padding: 2.5rem;
}
.section-our-blogs .blogs-list .blogs-card .blogs-card-img {
  width: 100%;
  border-radius: 0.625rem;
}
.section-our-blogs .blogs-list .blogs-card .blogs-container {
  margin-top: 2.5rem;
}
.section-our-blogs .blogs-list .blogs-card .blogs-container .blogs-content {
  margin-bottom: 1.875rem;
}
.section-our-blogs .blogs-list .blogs-card .blogs-container .blogs-content .blogs-content__text {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
}
.section-our-blogs .blogs-list .blogs-card .blogs-container .blogs-content .blogs-content__text--category {
  color: #333333;
  margin-bottom: 0.25rem;
}
.section-our-blogs .blogs-list .blogs-card .blogs-container .blogs-content .blogs-content__text--description {
  color: #4C4C4D;
}
.section-our-blogs .blogs-list .blogs-card .blogs-container .blogs-content h3 {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
  margin-bottom: 1.875rem;
}
.section-our-blogs .blogs-list .blogs-card .blogs-container .blogs-author-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background-color: #FAFDF2;
  border: 0.0625rem solid #EEF8D3;
  border-radius: 0.75rem;
}
.section-our-blogs .blogs-list .blogs-card .blogs-container .blogs-author-info .author-figure {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section-our-blogs .blogs-list .blogs-card .blogs-container .blogs-author-info .author-figure .author-figcaption .author-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1A3129;
  line-height: 150%;
}
.section-our-blogs .blogs-list .blogs-card .blogs-container .blogs-author-info .author-figure .author-figcaption .author-meta {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #59595A;
}
.section-our-blogs .blogs-list .blogs-card .blogs-container .blogs-author-info .author-icon-container {
  padding: 1.125rem;
  background-color: #F6FBE9;
  border: 0.0625rem solid #EEF8D3;
  border-radius: 0.5rem;
}
.section-our-blogs .blogs-list .blogs-card .blogs-container .blogs-author-info .author-icon-container #heart-icon {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  stroke: #000;
  overflow: visible;
}

.section-our-testimonials {
  margin-top: 9.375rem;
}
.section-our-testimonials .testimonials-header {
  text-align: center;
  margin-bottom: 5rem;
}
.section-our-testimonials .testimonials-header h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 150%;
  color: #262626;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .section-our-testimonials .testimonials-header h2 {
    font-size: 1.75rem;
  }
}
.section-our-testimonials .testimonials-header p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
}

@media screen and (max-width: 576px) {
  .blogs-author-info {
    flex-direction: column;
    gap: 1.25rem;
  }
}
@media screen and (max-width: 767px) {
  .section-features {
    margin-top: 2.1875rem;
  }
  .section-features .features-list .feature-card {
    padding: 1.875rem;
  }
  .section-features .features-list .feature-card .feature-card-header h3 {
    font-size: 1.375rem;
  }
  .section-our-blogs {
    margin-top: 2.1875rem;
  }
  .section-our-blogs .blogs-list .blogs-card .blogs-container .blogs-content h3 {
    font-size: 1.375rem;
    margin-bottom: 1.125rem;
  }
  .section-our-testimonials {
    margin-top: 2.1875rem;
  }
}
@media screen and (max-width: 1023px) {
  .section-features .features-header {
    margin-bottom: 3.125rem;
  }
  .section-features .features-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
  }
  .section-our-blogs .blogs-header {
    margin-bottom: 3.125rem;
  }
  .section-our-blogs .blogs-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-our-blogs .blogs-list .blogs-card {
    padding: 1.5rem;
  }
  .section-our-testimonials .testimonials-header {
    margin-bottom: 3.125rem;
  }
}
.section-our-story {
  margin-bottom: 9.375rem;
}
.section-our-story .our-story-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}
.section-our-story .our-story-header h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 150%;
  color: #262626;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .section-our-story .our-story-header h2 {
    font-size: 1.75rem;
  }
}
.section-our-story .our-story-header p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #333333;
  line-height: 150%;
  max-width: 62.25rem;
}
.section-our-story .stories-container {
  position: relative;
  background-color: #F6FBE9;
  border: 0.0625rem solid #E5F5BD;
  border-radius: 0.75rem;
}
.section-our-story .stories-container .vertical-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 0.9375rem;
  background-color: #CBEA7B;
}
.section-our-story .stories-container .story-item {
  display: flex;
}
.section-our-story .stories-container .story-item .story-img {
  width: 50%;
}
.section-our-story .stories-container .story-item .story-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-our-story .stories-container .story-item .story-img .story-img--radius-top-left {
  border-top-left-radius: 0.75rem;
}
.section-our-story .stories-container .story-item .story-img .story-img--radius-bottom-right {
  border-bottom-right-radius: 0.75rem;
}
.section-our-story .stories-container .story-item .story-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  padding: 5rem;
  width: 50%;
}
.section-our-story .stories-container .story-item .story-text h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #1A3129;
  position: relative;
}
.section-our-story .stories-container .story-item .story-text h3::after {
  content: "";
  position: absolute;
  bottom: -0.625rem;
  height: 0.1875rem;
  background-color: #CBEA7B;
  width: 25.8125rem;
  max-width: 100%;
  left: 0;
}
.section-our-story .stories-container .story-item .story-text .story-text__paragraph {
  font-size: 1.125rem;
  line-height: 150%;
  color: #333333;
}
.section-our-story .stories-container .story-item .story-text .story-text__paragraph--normal {
  font-weight: 500;
}
.section-our-story .stories-container .story-item .story-text .story-text__paragraph--bold {
  font-weight: 600;
}
.section-our-story .stories-container .story-item .story-text--left-side {
  align-items: flex-end;
  text-align: right;
}
.section-our-story .stories-container .story-item--left-side {
  flex-direction: row-reverse;
}
.section-our-story .show-more-container {
  display: flex;
  justify-content: center;
}
.section-our-story .show-more-container .show-more-btn {
  padding: 1.125rem 1.5rem;
  background-color: #CBEA7B;
  border-radius: 0.5rem;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
  transition: background-color 0.3s ease;
  border: none;
  margin-bottom: 2.5rem;
}
.section-our-story .show-more-container .show-more-btn:hover {
  background-color: #DCF1A7;
}

.section-company-achievements {
  margin-bottom: 9.375rem;
}
.section-company-achievements .header-achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}
.section-company-achievements .header-achievements h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 150%;
  color: #262626;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .section-company-achievements .header-achievements h2 {
    font-size: 1.75rem;
  }
}
.section-company-achievements .header-achievements p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
  max-width: 62.25rem;
}
.section-company-achievements .achievements-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}
.section-company-achievements .achievements-cards .card {
  padding: 2.5rem 3.125rem;
  background-color: #F6FBE9;
  border: 0.0625rem solid #E5F5BD;
  border-radius: 0.75rem;
}
.section-company-achievements .achievements-cards .card .card-header {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  margin-bottom: 1.5rem;
}
.section-company-achievements .achievements-cards .card .card-header h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
}
.section-company-achievements .achievements-cards .card .card-description {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
}

@media screen and (max-width: 767px) {
  .section-company-achievements .achievements-cards .card {
    padding: 1.875rem;
  }
  .section-company-achievements .achievements-cards .card .card-header h3 {
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 1023px) {
  .section-our-story {
    margin-bottom: 2.1875rem;
  }
  .section-our-story .our-story-header {
    margin-bottom: 3.125rem;
  }
  .section-our-story .stories-container .vertical-line {
    display: none;
  }
  .section-our-story .stories-container .story-item {
    display: none;
    flex-direction: column;
  }
  .section-our-story .stories-container .story-item:nth-child(-n+4) {
    display: block;
  }
  .section-our-story .stories-container .story-item .story-img {
    width: 100%;
  }
  .section-our-story .stories-container .story-item .story-img .story-img--radius-tablet {
    border-top-right-radius: 0.75rem;
  }
  .section-our-story .stories-container .story-item .story-img .story-img--radius-bottom-right {
    border-bottom-right-radius: 0;
  }
  .section-our-story .stories-container .story-item .story-text {
    width: 100%;
    padding: 1.875rem;
  }
  .section-our-story .stories-container .story-item .story-text h3 {
    font-size: 1.375rem;
  }
  .section-our-story .stories-container .story-item--left-side {
    flex-direction: column;
  }
  .section-our-story .stories-container .story-item--left-side .story-text--left-side {
    text-align: left;
    align-items: flex-start;
  }
  .section-company-achievements {
    margin-bottom: 2.1875rem;
  }
  .section-company-achievements .header-achievements {
    margin-bottom: 3.125rem;
  }
  .section-company-achievements .achievements-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .section-our-story .stories-container .show-more-container {
    display: none;
  }
}
.section-our-team {
  margin-bottom: 9.375rem;
}
.section-our-team .tabs-our-team [data-tab-content] {
  display: none;
}
.section-our-team .tabs-our-team .active[data-tab-content] {
  display: block;
}
.section-our-team .tabs-our-team .tab-team {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #234338;
  padding: 1.875rem 9.375rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  color: #E6E6E6;
  list-style-type: none;
  margin-bottom: 3.125rem;
  overflow-x: auto;
  max-width: 100%;
}
.section-our-team .tabs-our-team .tab-team::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.section-our-team .tabs-our-team .tab-team .team-tab {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
  white-space: nowrap;
  border: 0.0625rem solid transparent;
  padding: 0.875rem 1.25rem;
}
.section-our-team .tabs-our-team .tab-team .team-tab:hover, .section-our-team .tabs-our-team .tab-team .team-tab.active {
  padding: 0.875rem 1.25rem;
  background-color: #2C5446;
  border: 0.0625rem solid #346454;
  border-radius: 0.5rem;
  color: #fff;
}
.section-our-team .tabs-our-team .tabs-team-list .team-wrapper {
  display: flex;
  gap: 1.875rem;
}
.section-our-team .tabs-our-team .tabs-team-list .team-wrapper .team-card {
  position: relative;
}
.section-our-team .tabs-our-team .tabs-team-list .team-wrapper .team-card img {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
.section-our-team .tabs-our-team .tabs-team-list .team-wrapper .team-card .team-member-info {
  position: absolute;
  bottom: -3.75rem;
  background-color: #F6FBE9;
  border-top-right-radius: 1.25rem;
  padding: 1.875rem;
  max-width: 16.875rem;
}
.section-our-team .tabs-our-team .tabs-team-list .team-wrapper .team-card .team-member-info .team-member-name {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #262626;
  margin-bottom: 0.25rem;
}
.section-our-team .tabs-our-team .tabs-team-list .team-wrapper .team-card .team-member-info .team-member-title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #4C4C4D;
}

@media screen and (max-width: 767px) {
  .section-our-team .tabs-our-team .tabs-team-list .team-wrapper {
    flex-direction: column;
    gap: 3.875rem;
  }
  .section-our-team .tabs-our-team .tabs-team-list .team-wrapper .team-card .team-member-info {
    padding: 1.25rem;
    bottom: -1.875rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section-our-team .tabs-our-team .tabs-team-list .team-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.875rem;
  }
  .section-our-team .tabs-our-team .tabs-team-list .team-wrapper .team-card .team-member-info {
    bottom: -1.25rem;
  }
}
@media screen and (max-width: 1023px) {
  .section-our-team {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 1439px) {
  .section-our-team .tabs-our-team .tab-team {
    padding: 1.875rem;
  }
}
.section-how-works {
  margin-top: 6.25rem;
  margin-bottom: 9.375rem;
}
.section-how-works .header-how-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 13.4375rem;
}
.section-how-works .header-how-works h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 150%;
  color: #262626;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .section-how-works .header-how-works h2 {
    font-size: 1.75rem;
  }
}
.section-how-works .header-how-works p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
  max-width: 62.25rem;
}
.section-how-works .cards-works-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.125rem;
}
.section-how-works .cards-works-container .card-works {
  padding: 3.125rem;
  background-color: #F6FBE9;
  border: 0.0625rem solid #EEF8D3;
  border-radius: 0.75rem;
  position: relative;
  margin-bottom: 8.4375rem;
}
.section-how-works .cards-works-container .card-works:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.section-how-works .cards-works-container .card-works .card-number {
  position: absolute;
  top: -8.125rem;
  left: -0.125rem;
  z-index: -1;
  font-size: 9.375rem;
  font-weight: 700;
  line-height: 150%;
  color: #468671;
}
.section-how-works .cards-works-container .card-works .card-works-content {
  display: flex;
  gap: 0.875rem;
  align-items: center;
  margin-bottom: 1.5rem;
}
.section-how-works .cards-works-container .card-works .card-works-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
}
.section-how-works .cards-works-container .card-works .card-works-description {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #4C4C4D;
}

@media screen and (max-width: 767px) {
  .cards-works-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .cards-works-container .card-works {
    padding: 1.875rem !important;
    margin-bottom: 5rem !important;
  }
  .cards-works-container .card-works .card-number {
    font-size: 5.9375rem !important;
    top: -5rem !important;
  }
  .cards-works-container .card-works:last-child {
    margin-bottom: 0 !important;
  }
  .cards-works-container .card-works h3 {
    font-size: 1.375rem !important;
  }
}
@media screen and (max-width: 1023px) {
  .section-how-works {
    margin-top: 3.125rem;
    margin-bottom: 2.1875rem;
  }
  .section-how-works .header-how-works {
    margin-bottom: 9.375rem;
  }
}
.table-container {
  padding: 0 10.125rem;
  max-width: 120rem;
  margin: 0 auto;
}
.table-container .table-wrapper {
  background-color: #F6FBE9;
  border: 0.0625rem solid #E5F5BD;
  border-radius: 0.75rem;
  padding: 3.125rem;
  margin-bottom: 9.375rem;
  overflow-x: auto;
  max-width: 100%;
}
.table-container .table-wrapper .pricing-table {
  width: 100%;
  border-collapse: separate;
}
.table-container .table-wrapper .pricing-table .table-header th {
  background-color: #234338;
  padding: 1.25rem 1.875rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 150%;
  border-spacing: 0 3.125rem;
}
.table-container .table-wrapper .pricing-table td {
  padding: 3.125rem 1.875rem;
  border-bottom: 0.0625rem solid #DCF1A7;
  border-right: 0.0625rem solid #DCF1A7;
}
.table-container .table-wrapper .pricing-table td.no-border-right {
  border-right: none;
}
.table-container .table-wrapper .pricing-table td.no-border-right-bottom {
  border-right: none;
  border-bottom: none;
}
.table-container .table-wrapper .pricing-table td.no-border-center {
  border-bottom: none;
}
.table-container .table-wrapper .pricing-table .feature-name {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 152%;
  color: #262626;
}
.table-container .table-wrapper .pricing-table .feature-title {
  text-align: left;
}
.table-container .table-wrapper .pricing-table .icon-center {
  text-align: center;
}
.table-container .table-wrapper .pricing-table .icon-center .bi-check-lg {
  background-color: #CBEA7B;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.table-container .table-wrapper .pricing-table .icon-center .bi-x {
  background-color: #EEF8D3;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.section-faq {
  margin: 0 auto 9.375rem auto !important;
}
.section-faq .header-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}
.section-faq .header-faq h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 150%;
  color: #262626;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .section-faq .header-faq h2 {
    font-size: 1.75rem;
  }
}
.section-faq .header-faq p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
  max-width: 62.25rem;
}
.section-faq .faq-and-question-section {
  display: flex;
  gap: 3.125rem;
}
.section-faq .faq-and-question-section .faq-container {
  background-color: #F6FBE9;
  border: 0.0625rem solid #E5F5BD;
  border-radius: 0.75rem;
  padding: 3.75rem;
  width: 70%;
}
.section-faq .faq-and-question-section .faq-container .faq {
  border-bottom: 0.0625rem solid #E5F5BD;
  padding: 1.75rem 0;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}
.section-faq .faq-and-question-section .faq-container .faq:last-child {
  border-bottom: none;
}
.section-faq .faq-and-question-section .faq-container .faq .faq-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #262626;
  margin: 0 3.75rem 1.25rem 0;
}
.section-faq .faq-and-question-section .faq-container .faq .faq-text {
  display: none;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
  max-width: 50.625rem;
}
.section-faq .faq-and-question-section .faq-container .faq.active .faq-text {
  display: block;
}
.section-faq .faq-and-question-section .faq-container .faq .faq-toggle {
  background-color: #234338;
  color: #fff;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0;
  position: absolute;
  top: 1.875rem;
  right: 0;
  height: 2.5rem;
  width: 2.5rem;
}
.section-faq .faq-and-question-section .faq-container .faq-toggle .bi-x {
  display: none;
}
.section-faq .faq-and-question-section .faq-container .faq.active .faq-toggle .bi-x {
  color: #fff;
  display: block;
}
.section-faq .faq-and-question-section .faq-container .faq.active .faq-toggle .bi-plus {
  display: none;
}
.section-faq .faq-and-question-section .ask-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem 1.875rem;
  background-color: #F6FBE9;
  border: 0.0625rem solid #E5F5BD;
  border-radius: 0.75rem;
  width: 30%;
  height: 3%;
}
.section-faq .faq-and-question-section .ask-card img {
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 3.125rem;
}
.section-faq .faq-and-question-section .ask-card h3 {
  font-size: 2.125rem;
  font-weight: 600;
  color: #234338;
  margin-bottom: 1rem;
}
.section-faq .faq-and-question-section .ask-card p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
  margin-bottom: 3.125rem;
}
.section-faq .faq-and-question-section .ask-card a {
  text-decoration: none;
  background-color: #CBEA7B;
  padding: 1.125rem 1.75rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
}

@media screen and (max-width: 767px) {
  .table-container {
    padding-left: 1rem;
    padding-right: 0;
  }
  .table-container .table-wrapper {
    overflow-x: auto;
    margin-bottom: 2.1875rem !important;
  }
  .table-container .table-wrapper::-webkit-scrollbar {
    height: 0.375rem;
  }
  .table-container .table-wrapper::-webkit-scrollbar-thumb {
    background-color: #CBEA7B;
    border-radius: 1.6875rem;
  }
  .table-container .table-wrapper .pricing-table {
    min-width: 56.25rem;
  }
  .section-faq {
    margin-bottom: 2.1875rem;
  }
  .section-faq .faq-container {
    padding: 1.875rem !important;
  }
  .section-faq .ask-card {
    padding: 3.125rem 1.5rem !important;
  }
}
@media screen and (max-width: 800px) {
  .table-wrapper {
    padding: 1.875rem !important;
  }
}
@media screen and (max-width: 1023px) {
  .header-faq {
    margin-bottom: 3.125rem !important;
  }
  .faq-and-question-section {
    flex-direction: column;
  }
  .faq-and-question-section .faq-container {
    width: 100% !important;
  }
  .faq-and-question-section .ask-card {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .table-container {
    padding: 0 2rem;
  }
}
.section-filter-blogs {
  margin-bottom: 9.375rem;
}
.section-filter-blogs .filtermenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.875rem 9.375rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  background-color: #234338;
  margin-bottom: 3.125rem;
  overflow-x: auto;
  max-width: 100%;
}
.section-filter-blogs .filtermenu::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.section-filter-blogs .filtermenu li {
  list-style-type: none;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  color: #E6E6E6;
  padding: 0.875rem 1.25rem;
  white-space: nowrap;
  cursor: pointer;
  border: 0.0625rem solid transparent;
}
.section-filter-blogs .filtermenu li:hover, .section-filter-blogs .filtermenu li.active {
  background-color: #2C5446;
  border: 0.0625rem solid #346454;
  border-radius: 0.5rem;
  color: #fff;
}
.section-filter-blogs .filter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}
.section-filter-blogs .filter-container .post-card {
  border: 0.0625rem solid #E5F5BD;
  border-radius: 0.75rem;
  background-color: #F6FBE9;
}
.section-filter-blogs .filter-container .post-card:nth-child(1), .section-filter-blogs .filter-container .post-card:nth-child(2), .section-filter-blogs .filter-container .post-card:nth-child(3) {
  display: inline-block;
}
.section-filter-blogs .filter-container .post-card .category-label {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  color: #333333;
  position: relative;
  margin-bottom: 3.125rem;
  padding: 3.125rem 3.125rem 0 3.125rem;
}
.section-filter-blogs .filter-container .post-card .category-label::after {
  content: "";
  position: absolute;
  bottom: -0.625rem;
  height: 0.1875rem;
  background-color: #CBEA7B;
  width: 12.5rem;
  max-width: 100%;
  left: 3.125rem;
}
.section-filter-blogs .filter-container .post-card .post-image {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 0.0625rem solid #E5F5BD;
  padding: 0 3.125rem;
}
.section-filter-blogs .filter-container .post-card .post-image img {
  width: 70%;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.section-filter-blogs .filter-container .post-card .text-button-wrapper {
  display: flex;
  gap: 1.875rem;
  padding: 3.125rem 3.125rem 1.875rem 3.125rem;
  align-items: center;
}
.section-filter-blogs .filter-container .post-card .text-button-wrapper .article-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
  margin-bottom: 0.625rem;
}
.section-filter-blogs .filter-container .post-card .text-button-wrapper .article-content p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
}
.section-filter-blogs .filter-container .post-card .text-button-wrapper .read-more-link {
  padding: 1.125rem 1.5rem;
  background-color: #CBEA7B;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}
.section-filter-blogs .filter-container .post-card .text-button-wrapper .read-more-link:hover {
  background-color: #DCF1A7;
}

.hidden {
  display: none;
}

@media screen and (max-width: 576px) {
  .category-label {
    padding: 1.875rem 1.875rem 0 1.875rem !important;
  }
  .post-image {
    padding: 0 1.875rem !important;
  }
  .text-button-wrapper {
    padding: 1.875rem !important;
  }
}
@media screen and (max-width: 767px) {
  .post-card .category-label {
    font-size: 1.125rem !important;
  }
  .post-card .category-label::after {
    left: 1.875rem !important;
  }
  .post-card h3 {
    font-size: 1.375rem !important;
  }
}
@media screen and (max-width: 1023px) {
  .filter-container {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 1.25rem;
  }
  .filter-container .text-button-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 1439px) {
  .filtermenu {
    padding: 1.875rem !important;
  }
}
.section-contactus {
  margin-bottom: 9.375rem;
}
.section-contactus .contactus-info {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  background-color: #1A3129;
  padding: 1.875rem 0;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  margin-bottom: 3.125rem;
}
.section-contactus .contactus-info .contact-method {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 1.875rem;
  background-color: #234338;
  border: 0.0625rem solid #2C5446;
  border-radius: 0.5rem;
  width: 20.3125rem;
}
.section-contactus .contactus-info .contact-method i {
  color: #CBEA7B;
  font-size: 1.4375rem;
}
.section-contactus .contactus-info .contact-method a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
}
.section-contactus .contact-form-and-map {
  display: flex;
  gap: 3.125rem;
  background-color: #F6FBE9;
  border: 0.0625rem solid #E5F5BD;
  border-radius: 0.75rem;
  padding: 5rem;
}
.section-contactus .contact-form-and-map .contact-form-wrapper {
  width: 50%;
}
.section-contactus .contact-form-and-map .contact-form-wrapper .contact-form {
  display: flex;
  flex-direction: column;
}
.section-contactus .contact-form-and-map .contact-form-wrapper .contact-form .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
.section-contactus .contact-form-and-map .contact-form-wrapper .contact-form .row #name {
  height: 2.625rem;
}
.section-contactus .contact-form-and-map .contact-form-wrapper .contact-form .row .group-name {
  width: 50%;
}
.section-contactus .contact-form-and-map .contact-form-wrapper .contact-form .input-group {
  display: flex;
  flex-direction: column-reverse;
  font-size: 1.125rem;
  font-weight: 600;
  color: #4C4C4C;
}
.section-contactus .contact-form-and-map .contact-form-wrapper .contact-form .input-group input, .section-contactus .contact-form-and-map .contact-form-wrapper .contact-form .input-group textarea {
  background-color: #EEF8D3;
  border: 0.0625rem solid #DCF1A7;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.section-contactus .contact-form-and-map .contact-form-wrapper .contact-form .input-group label {
  margin-bottom: 0.625rem;
}
.section-contactus .contact-form-and-map .contact-form-wrapper .contact-form .input-group .input-group-mt {
  margin-top: 1.875rem;
}
.section-contactus .contact-form-and-map .contact-form-wrapper .contact-form .text-limit {
  text-align: end;
  margin-top: 0.625rem;
  font-size: 1rem;
  font-weight: 500;
  color: #59595A;
}
.section-contactus .contact-form-and-map .contact-form-wrapper .contact-form button {
  margin-top: 3.125rem;
  background-color: #CBEA7B;
  border: none;
  border-radius: 0.5rem;
  padding: 1.125rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
}
.section-contactus .contact-form-and-map .contact-map-and-icons {
  width: 50%;
}
.section-contactus .contact-form-and-map .contact-map-and-icons .contact-map {
  width: 100%;
}
.section-contactus .contact-form-and-map .contact-map-and-icons .contact-icons {
  display: flex;
  justify-content: flex-end;
  gap: 0.875rem;
  margin-top: 1.875rem;
}
.section-contactus .contact-form-and-map .contact-map-and-icons .contact-icons img {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .section-contactus {
    margin-bottom: 2.1875rem;
  }
  .section-contactus .contactus-info {
    flex-direction: column;
    padding: 1.875rem !important;
  }
  .section-contactus .contactus-info .contact-method {
    width: 100% !important;
    padding: 1.25rem !important;
    text-align: center;
  }
  .section-contactus .contact-form-and-map {
    flex-direction: column;
    padding: 1.875rem !important;
  }
  .section-contactus .contact-form-and-map .contact-form-wrapper {
    width: 100% !important;
  }
  .section-contactus .contact-form-and-map .contact-form-wrapper .row {
    flex-direction: column;
  }
  .section-contactus .contact-form-and-map .contact-form-wrapper .row .group-name {
    width: 100% !important;
  }
  .section-contactus .contact-form-and-map .contact-form-wrapper .input-group-mt {
    margin-top: 1.25rem !important;
  }
  .section-contactus .contact-form-and-map .contact-map-and-icons {
    width: 100% !important;
  }
  .section-contactus .contact-form-and-map .contact-map-and-icons .contact-icons {
    justify-content: center !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .contactus-info {
    padding: 1.875rem !important;
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: #FAFDF2;
}

.container {
  padding: 0 10.125rem;
  max-width: 120rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding: 0 2rem;
  }
}

.section-our-pricing {
  margin: 9.375rem auto;
  padding: 0 10.125rem;
  max-width: 120rem;
}
.section-our-pricing .pricing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}
.section-our-pricing .pricing-header h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 150%;
  color: #262626;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .section-our-pricing .pricing-header h2 {
    font-size: 1.75rem;
  }
}
.section-our-pricing .pricing-header p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
}
.section-our-pricing .pricing-header .pricing-tab-text {
  max-width: 62.25rem;
}
.section-our-pricing .tabs-pricing [data-tab-content] {
  display: none;
}
.section-our-pricing .tabs-pricing .active[data-tab-content] {
  display: block;
}
.section-our-pricing .tabs-pricing .tabs {
  display: flex;
  padding: 0.625rem;
  justify-content: center;
  border: 1px solid #DCF1A7;
  border-radius: 0.5rem;
  max-width: 14.5625rem;
  margin: 0 auto;
  list-style-type: none;
  cursor: pointer;
}
.section-our-pricing .tabs-pricing .tabs .tab {
  padding: 10px 24px;
  color: #4C4C4C;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
}
.section-our-pricing .tabs-pricing .tabs .tab.active {
  background-color: #234338;
  border-radius: 0.375rem;
  color: #fff;
}
.section-our-pricing .tabs-pricing .promo-text {
  text-align: center;
  margin-top: 0.875rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #4C4C4D;
}
.section-our-pricing .tabs-pricing .tabs-lists {
  margin-top: 3.125rem;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper {
  display: flex;
  gap: 1.875rem;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card {
  padding: 3.125rem;
  background-color: #F6FBE9;
  border: 1px solid #EEF8D3;
  border-radius: 0.75rem;
  max-width: 32rem;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .plan-header {
  margin-bottom: 2.5rem;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .plan-header h3 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
  margin-bottom: 0.125rem;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .plan-header p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #4C4C4D;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .plan-description {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #262626;
  margin-bottom: 2.5rem;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .plan-features {
  background-color: #EEF8D3;
  border: 1px solid #E5F5BD;
  border-radius: 0.625rem;
  margin-bottom: 2.5rem;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .plan-features .plan-subpage {
  list-style-type: none;
  color: #333333;
  padding: 1.25rem 1.5rem;
  margin-bottom: 0;
  border-bottom: 1Px solid #DCF1A7;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .plan-features .plan-subpage:nth-last-child(1) {
  border-bottom: 0;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .special-card {
  margin-bottom: 1.25rem !important;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .plan-summary {
  padding: 1.25rem 1.5rem;
  background-color: #234338;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #fff;
  margin-bottom: 2.5rem;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .plan-price {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
  margin-bottom: 2.0625rem;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .plan-price span {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 87.5%;
  color: #2C5446;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .plan-btn {
  display: flex;
  justify-content: center;
  background-color: #CBEA7B;
  padding: 1.125rem 2.5625rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  color: #262626;
  transition: background-color 0.3s ease;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card .plan-btn:hover {
  background-color: #DCF1A7;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card--left {
  height: 1%;
}
.section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card--center {
  height: 2%;
}

.home-our-pricing {
  margin: 13rem 0 9.375rem 0;
}

.cta-section {
  position: relative;
  padding: 5rem;
  margin-bottom: 9.375rem;
  background-color: #F6FBE9;
  border: 1px solid #E5F5BD;
  border-radius: 0.75rem;
  overflow: hidden;
}
.cta-section .cta-img-left {
  position: absolute;
  top: 0;
  left: -10px;
}
.cta-section .cta-img-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.cta-section .cta-container {
  display: flex;
  gap: 9.375rem;
  align-items: center;
}
.cta-section .cta-container .cta-text h2 {
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
  margin-bottom: 0.875rem;
}
@media (max-width: 767px) {
  .cta-section .cta-container .cta-text h2 {
    font-size: 1.5rem;
  }
}
.cta-section .cta-container .cta-text p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #333333;
}
.cta-section .cta-container .cta-button {
  display: flex;
  align-items: center;
  padding: 1.125rem 1.5rem;
  background-color: #CBEA7B;
  border-radius: 0.5rem;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
  transition: background-color 0.3s ease;
}
.cta-section .cta-container .cta-button:hover {
  background-color: #DCF1A7;
}

@media screen and (max-width: 767px) {
  .section-our-pricing {
    margin: 2.1875rem 0;
    padding: 0 1rem;
  }
  .section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card {
    padding: 1.875rem;
  }
  .home-our-pricing {
    margin-top: 9.375rem;
  }
  .cta-section {
    padding: 2.5rem;
    margin-bottom: 2.1875rem;
  }
  .cta-section .cta-img-left {
    top: -2.5rem;
    left: -1.875rem;
  }
  .cta-section .cta-img-right {
    right: -40px;
    bottom: -40px;
  }
  .cta-section .cta-container {
    flex-direction: column;
    gap: 1.25rem;
  }
  .cta-section .cta-container .cta-text {
    text-align: center;
  }
  .cta-section .cta-container .cta-button {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cta-section .cta-container {
    gap: 3.125rem;
  }
}
@media screen and (max-width: 1023px) {
  .home-our-pricing .pricing-header {
    margin-bottom: 3.125rem;
  }
  .plans-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card {
    height: unset;
  }
  .section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card--left {
    height: 90%;
  }
  .section-our-pricing .tabs-pricing .tabs-lists .plans-wrapper .plan-card--right {
    grid-column: span 2;
    justify-self: center;
  }
}/*# sourceMappingURL=style.css.map */