.section-footer {
    padding: 3.125rem 0;
    background-color: $dark-green-15;

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 162px;

        .footer-nav {
            ul {
                display: flex;
                gap: 1.625rem;
                
                li {
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        @include text-medium;
                        font-weight: 600;
                        line-height: 150%;
                        color: #fff;

                        &:hover {
                            color: $green-70;
                        }
                    }
                }
            }
        }

        .scroll-to-top {
            display: flex;
            gap: 1.25rem;
            align-items: center;
            border: none;
            background-color: transparent;
            color: #fff;
            @include text-medium;
            font-weight: 600;
            line-height: 150%;
            cursor: pointer;
            text-decoration: none;
            transition: transform 0.3s ease;

            &:hover .bi-arrow-up {
                transform: translateY(-8px);
            }

            .icon-arrow-scroll {
                width: 62px;
                height: 62px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4.5625rem;
                background-color: $dark-green-20;

                .bi-arrow-up {
                    transition: transform 0.3s ease;
                }
                
            }
        }
    }

    .footer-contact {
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 162px;

        .footer-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 3.125rem;
            padding: 1rem 1.875rem;
            background-color: $dark-green-20;
            border: 1px solid $dark-green-25;
            border-radius: .5rem;

            .footer-contact-info {
                display: flex;
                gap: 1.25rem;
                

                .contact-item {
                    border: 1px solid $dark-green-25;
                    border-radius: .375rem;
                    padding: .875rem;

                    i {
                        color: $green-70;
                        margin-right: .375rem;
                    }

                    a {
                        @include text-medium;
                        line-height: 150%;
                        font-weight: 500;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
        

        .footer-copyright {
            @include text-medium;
            font-weight: 400;
            line-height: 150%;
            color: $grey-95;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .footer-wrapper {
        padding: 0 32px !important;
        flex-wrap: wrap;

        .footer-nav {
            order: 3;
            margin-top: 1.25rem;
        }

        .scroll-to-top {
            width: 50%;
            justify-content: flex-end;
            padding-left: 5px;

            p {
                @include text-small;
            }
        }
    }

    .footer-contact {
        padding: 0 32px !important;
        
        .footer-container {
            flex-direction: column !important;
            gap: 10px;

            .contact-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .footer-wrapper {
        padding: 0 1rem !important;
        flex-wrap: wrap;

        .footer-logo {
            width: 50% !important;

            img {
                max-width: 8.0625rem;
            }
        }

        .footer-nav {
            order: 3;
            margin-top: 1.25rem;

            ul {
                display: grid  !important;
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .scroll-to-top {
            width: 50%;
            justify-content: flex-end;
            padding-left: 5px;

            p {
                @include text-small;
            }
        }
    }

    .footer-contact {
        padding: 0 1rem !important;
    }
    .footer-container {
        flex-direction: column;
        gap: 1.25rem;
        text-align: center;

        .footer-contact-info {
            flex-direction: column;
            width: 100%;
            text-align: center;
        }
    }


}