.table-wrapper {
    background-color: $green-95;
    border: 1px solid $green-85;
    border-radius: .75rem;
    padding: 3.125rem;
    margin-bottom: 9.375rem;

    .pricing-table {
        width: 100%;
        border-collapse: separate;

        .table-header {
            th {
                background-color: $dark-green-20;
                padding: 20px 30px;
                border-radius: .5rem;
                color: #fff;
                @include text-medium-large;
                font-weight: 500;
                line-height: 150%;
                border-spacing: 0 50px;
            }
        }
        
        td {
            padding: 3.125rem 0;
            border-bottom: 1px solid $green-80;
            border-right: 1px solid $green-80;

            &.no-border-right {
                border-right: none;
            }

            &.no-border-right-bottom {
                border-right: none; 
                border-bottom: none;
            }

            &.no-border-center {
                border-bottom: none;
            }
        }

        .feature-name {
            @include text-large;
            font-weight: 500;
            line-height: 152%;
            color: $grey-15;
        }

        .feature-title {
            text-align: left;
        }

        .icon-center {
            text-align: center;
            
            .bi-check-lg {
                background-color: $green-70;
                padding: .5rem;
                border-radius: .5rem;
            }

            .bi-x {
                background-color: $green-90;
                padding: .5rem;
                border-radius: .5rem;
            }
        }
    }
}


// == SECTION FAQ ==
.section-faq {
    margin-bottom: 9.375rem;

    .header-faq {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 5rem;


        h2 {
            @include h2;
            margin-bottom: .625rem;
        }

        p {
            @include text-medium;
            font-weight: 500;
            line-height: 150%;
            color: $grey-20;
            max-width: 62.25rem;
        }
    }

    .faq-and-question-section {
        display: flex;
        gap: 3.125rem;

        .faq-container {
            background-color: $green-95;
            border: 1px solid $green-85;
            border-radius: .75rem;
            padding: 3.75rem;
            width: 70%;
            
            .faq {
                border-bottom: 1px solid $green-85;
                padding: 1.75rem 0;
                position: relative;
                overflow: hidden;
                transition: 0.3s ease;

                &:last-child {
                    border-bottom: none;
                }

                .faq-title {
                    @include text-large;
                    font-weight: 600;
                    color: $grey-15;
                    margin: 0 3.75rem 1.25rem 0;
                }
                .faq-text {
                    display: none;
                    @include text-medium;
                    font-weight: 500;
                    line-height: 150%;
                    color: $grey-20;
                    max-width: 50.625rem;
                }
                &.active .faq-text {
                    display: block;
                }

                .faq-toggle {
                    background-color: $dark-green-20;
                    color: #fff;
                    border: none;
                    border-radius: .375rem;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5rem;
                    padding: 0;
                    position: absolute;
                    top: 1.875rem;
                    right: 0;
                    height: 2.5rem;
                    width: 2.5rem;
                }
            }

            .faq-toggle .bi-x {
                display: none;
            }

            .faq.active .faq-toggle .bi-x {
                color: #fff;
                display: block;
            }

            .faq.active .faq-toggle .bi-plus {
                display: none;
            }
        }

        .ask-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 5rem 1.875rem;
            background-color: $green-95;
            border: 1px solid $green-85;
            border-radius: .75rem;
            width: 30%;
            height: 3%;

            img {
                width: 7.5rem;
                height: 7.5rem;
                margin-bottom: 3.125rem;
            }

            h3 {
                @include h3(2.125rem);
                font-weight: 600;
                color: $dark-green-20;
                margin-bottom: 1rem;
            }

            p {
                @include text-medium;
                font-weight: 500;
                line-height: 150%;
                color: $grey-20;
                margin-bottom: 3.125rem;
            }

            a {
                text-decoration: none;
                background-color: $green-70;
                padding: 1.125rem 1.75rem;
                border-radius: .5rem;
                @include text-medium;
                font-weight: 600;
                line-height: 150%;
                color: $grey-15;
            }
        }
    }
}








